*{
    padding: 0;
    margin: 0;
}

i{
    height: 10px;
    width: 10px;
    color: aqua;
}
#main-div{
 height: 100vh;
 width: 100vw;
 background-color: blueviolet;
 display: flex;
 justify-content: center;
 align-items: center;

}

#iphone{
    height: 550px;
    width:280px;
    background-color: pink;
    border-radius: 36px;
    border: solid black 5px;
    display: flex;
    justify-content: center;
    background-image: url('./iPhone-15-Wallpaper-1.webp');
    background-size: cover;


}
#notch{
    height: 20px;
    width:70px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: black;
}


#power-button{
    margin-bottom: 300px;
    border-radius: 30px;
    width: 3px;
    height: 60px;
    background-color: black;
}
#upper-volume{
    width: 3px;
    height: 40px;
    background-color: rgb(10, 9, 9);
    position: absolute;
    bottom: 440px;
    margin-right: 2px;
    border-radius: 50px;
}
#lower-volume{
    width: 3px;
    height: 40px;
    background-color: rgb(10, 9, 9);
    position: absolute;
    bottom: 390px;
    margin-right: 2px;
    border-radius: 50px;
}


#back-iphone{
    margin-right: 10px;
    border-radius: 36px;
    height: 554px;
    width:284px;
    background-color: pink;
    
}

#camera-div{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
    background-color:pink;
    height: 110px;
    width: 110px;
    border-top: 2px black solid;
    border-left: 2px black solid;
    box-shadow: 2px 2px 2px black,
    2px 2px 2px black;
}
#camera-1{
    position:absolute;
    top :5px;
    left: 10px;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: black;
    border: white 3px solid;
}
#camera-2{
    position:absolute;
    top :60px;
    left: 10px;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: black;
    border: white 3px solid;



}


#camera-3{
    position:absolute;
    top :33px;
    left: 57px;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: black;
    border: white 3px solid;


}


#small-camera{
    position:absolute;
    top :87px;
    left: 71px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: black;



}


#flash-light{
    position:absolute;
    top :10px;
    left: 71px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color:white;

}
    